In [19]:
# Standard
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import Series, DataFrame

# Stats
from scipy import stats
import math

# Plotting
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
#plt.style.use('ggplot')

# Command so that plots appear in the iPython Notebook
%matplotlib inline

# Time access and conversions
import time

import random

#### 1. Gnerate x = a sequence of points, y = sin(x)+a small random error;
#### 2. Draw a scatter plot of x and y

In [39]:
df = DataFrame(randn(10000),columns=['x'])
df['sin(x)']=np.sin(df['x'])
df.head()

          x    sin(x)
0  0.216225  0.214544
1  0.011910  0.011910
2 -0.353065 -0.345775
3  1.225561  0.940996
4 -0.537939 -0.512367

In [41]:
df2 = DataFrame(randn(10000),columns=['a'])
df2.head()

          a
0  1.646489
1 -1.042926
2 -0.678927
3  1.617049
4  0.527821

In [47]:
df.add(df,fill_value=0)

             x    sin(x)
0     0.432450  0.429088
1     0.023820  0.023820
2    -0.706130 -0.691551
3     2.451123  1.881992
4    -1.075879 -1.024735
5    -1.154029 -1.091048
6    -2.024107 -1.695844
7    -1.637566 -1.460630
8    -2.616465 -1.931455
9     3.088051  1.999283
10   -0.247761 -0.247128
11   -0.748113 -0.730789
12   -4.495979 -1.558669
13    0.124400  0.124320
14   -1.296077 -1.207248
15    1.264831  1.182190
16   -1.751462 -1.536024
17    1.297625  1.208482
18   -1.334356 -1.237543
19    4.205939  1.723413
20    0.883312  0.854874
21    1.674436  1.485567
22   -1.635015 -1.458886
23    2.181552  1.773971
24    1.597622  1.433054
25    1.421857  1.305076
26    0.266076  0.265291
27    2.228072  1.794972
28   -0.228171 -0.227676
29   -3.364528 -1.987588
...        ...       ...
9970 -1.790728 -1.560873
9971  3.962496  1.833881
9972  1.230235  1.154109
9973 -1.619900 -1.448506
9974 -0.993243 -0.952916
9975  1.118040  1.060711
9976 -1.351365 -1.250860
9977  1.214721  1.141404
9978 -3.686539 -1.926217
9979 -0.587005 -0.578614
9980 -1.729961 -1.522165
9981 -0.724259 -0.708533
9982  1.777457  1.552541
9983 -0.438542 -0.435037
9984  0.268488  0.267682
9985  0.099525  0.099484
9986  0.199233  0.198904
9987  2.265629  1.811219
9988  1.597136  1.432715
9989 -3.353474 -1.988787
9990  1.796835  1.564684
9991  1.318526  1.225069
9992 -0.325339 -0.323906
9993 -1.290973 -1.203174
9994 -1.027268 -0.982691
9995 -1.562238 -1.408149
9996  0.006419  0.006419
9997  1.979191  1.671608
9998 -2.154750 -1.761435
9999  1.791416  1.561304

[10000 rows x 2 columns]

In [49]:
df['y'] = df.sin(x)+ df.a 
df.head()

AttributeError: 'DataFrame' object has no attribute 'sin'

#### 2. Draw a scatter plot of x and y

#### 3. Run a linear regression model to predict y, using only one feature--x;
#### print out the CV score of your model and the mathematical formula of your model;

#### 4. Draw a plot showing your predicted y, the real y, and ground truth--sin(x);

#### 5. Try to run a linear model using two features--x and x**2;
#### print out CV score and mathematical formula;

#### 6. Try linear models with feature from x, to x, x**2, x**3,... x**15, and plot the training score and validation score showing what happens when feature set gets larger;
#### Accoding to the result you get, what's the best number of features here;

#### 7. download a .xlsx file with multiple sheets nad read them all into pandas dataframe